<section class="specialist">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-end">
                <div class="specialist-content">
                    <h4>Meet Our Specialist</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis sed sapien in pretium. Donec tincidunt, quam vestibulum ultricies egestas.</p>
                    <button class="btn myBtn" >DISCOVER MORE <img src="assets/images/blogarrow.png" alt=""></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 single-specialist">
                    <div class="specialist-img">
                        <img src="assets/images/specialist1.png" alt="">
                    </div>
                    <div class="specialist-details">
                        <p>Melisa Lauren</p>
                        <span>Specialist</span>
                        <ul>
                            <li><img src="assets/images/social/dark/whatsapp.png" alt=""></li>
                            <li><img src="assets/images/social/dark/facebook.png" alt=""></li>
                            <li><img src="assets/images/social/dark/instagram.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 single-specialist">
                    <div class="specialist-img">
                        <img src="assets/images/specialist2.png" alt="">
                    </div>
                    <div class="specialist-details">
                        <p>Kate Amanda</p>
                        <span>Specialist</span>
                        <ul>
                            <li><img src="assets/images/social/dark/whatsapp.png" alt=""></li>
                            <li><img src="assets/images/social/dark/facebook.png" alt=""></li>
                            <li><img src="assets/images/social/dark/instagram.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>