<section class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="top-content">
                    <h1>A whole <span>new world</span>, a whole <span>new look</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis sed sapien in pretium. Donec tincidunt, quam vestibulum.</p>
                    <button class="btn myBtn" >DISCOVER MORE <img src="assets/images/arrow.png" alt=""></button>
                </div>
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</section>
<section class="second">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="second-img">
                    <img src="assets/images/second1.png" alt="">
                </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-6">
                <div class="second-content">
                    <h6>Alive every moment</h6>
                    <h2>Beauty is all about you.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis sed sapien in pretium. Donec tincidunt, quam.</p>
                </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-3">
                <div class="second-img">
                    <img src="assets/images/second2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// Our products //////////////////////////////////-->


<section class="our-products">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="op-content">
                    <h4>Our Product</h4>
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                    <button class="btn myBtn" >Shop MORE <img src="assets/images/arrow.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// services //////////////////////////////////-->

<app-services></app-services>

<!-- //////////////////// Our Story //////////////////////////////////-->

<section class="our-story">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="story-img">
                    <img src="assets/images/storyimg.png" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="content-main">
                    <div class="story-box">
                        <h4>Our Story</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis erat posuere, tincidunt sem at, sagittis dolor. Sed malesuada orci erat, ut interdum lorem rhoncus eu. Donec justo urna, mattis non maximus.</p>
                        <button class="btn myBtn" >READ MORE <img src="assets/images/arrow.png" alt=""></button>
                    </div>
                    <div class="stats-container">
                        <div class="stats">
                            <h4>955+</h4>
                            <p>Happy Customer</p>
                        </div>
                        <div class="stats">
                            <h4>240+</h4>
                            <p>Happy Customer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// Review //////////////////////////////////-->

<section class="review">
    <!-- <div class="container"> -->
        <div class="row w-100">
            <div class="col-md-6">
                <div class="review-content">
                    <h4>Review From Our Customer</h4>
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                                <div class="review-box">
                                    <div class="comment">
                                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis erat posuere, tincidunt sem at, sagittis dolor. Sed malesuada orci erat, ut interdum lorem rhoncus eu. Donec justo urna, mattis non maximus.”</p>
                                    </div>
                                    <div class="comment-by">
                                        <h6>Nikky Kimso</h6>
                                        <p>Customer</p>
                                    </div>
                                </div>
                          </div>
                          <div class="carousel-item">
                                <div class="review-box">
                                    <div class="comment">
                                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis erat posuere, tincidunt sem at, sagittis dolor. Sed malesuada orci erat, ut interdum lorem rhoncus eu. Donec justo urna, mattis non maximus.”</p>
                                    </div>
                                    <div class="comment-by">
                                        <h6>Nikky Kimso</h6>
                                        <p>Customer</p>
                                    </div>
                                </div>
                          </div>
                          <div class="carousel-item">
                                <div class="review-box">
                                    <div class="comment">
                                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis erat posuere, tincidunt sem at, sagittis dolor. Sed malesuada orci erat, ut interdum lorem rhoncus eu. Donec justo urna, mattis non maximus.”</p>
                                    </div>
                                    <div class="comment-by">
                                        <h6>Nikky Kimso</h6>
                                        <p>Customer</p>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <img src="assets/images/carousleleft.png" alt="">
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <img src="assets/images/carousleright.png" alt="">
                              </button>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="review-img">
                    <img src="assets/images/reviewimg.png" alt="">
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>

<!-- //////////////////////////////////// Expert skincare /////////////////////////////////// -->

<section class="expert-skincare">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="es-img">
                    <img src="assets/images/esimg1.png" alt="">
                </div>
                <div class="es-img">
                    <img src="assets/images/esimg2.png" alt="">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="es-content">
                    <h4>Expert Skincare for Your Beautiful Skin</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis sed sapien in pretium. Donec tincidunt, quam vestibulum ultricies egestas, dolor sem laoreet orci, quis finibus justo quam at nibh. Vestibulum ipsum tortor, suscipit non enim vitae.
                        Tincidunt scelerisque augue. Nunc quis fringilla magna, vel sollicitudin quam.</p>
                    <ul>
                        <li><img src="assets/images/listtick.png" alt="">Cnsectetur adipiscing elit.</li>
                        <li><img src="assets/images/listtick.png" alt="">Proin lobortis sed sapien.</li>
                        <li><img src="assets/images/listtick.png" alt="">Donec tincidunt, quam.</li>
                        <li><img src="assets/images/listtick.png" alt="">dolor sem laoreet orci, quis.</li>
                        <li><img src="assets/images/listtick.png" alt="">Vestibulum ipsum tortor.</li>
                    </ul>
                    <button class="btn myBtn" >LEARN MORE <img src="assets/images/arrow.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// Our Store //////////////////////////////////-->

<section class="our-store">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our-store-content">
                    <h4>Visit Our Store and Get Our Product</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis sed sapien in pretium. Donec tincidunt, quam vestibulum ultricies egestas, dolor sem laoreet orci, quis finibus justo quam at nibh. Vestibulum ipsum tortor, suscipit non enim vitae.
                        Tincidunt scelerisque augue. Nunc quis fringilla magna, vel sollicitudin quam.</p>
                    <button class="btn myBtn" >SHOP NOW <img src="assets/images/arrow.png" alt=""></button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our-store-content-img">
                    <img src="assets/images/osimg.png" alt=""> 
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// Available at //////////////////////////////////-->


<section class="available-at">
    <div class="container">
        <div class="row">
            <div class="available-heading">
                <h4>Our Product Also Available At</h4>
            </div>
            <div class="available-content">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                       <div class="row">
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store1.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store2.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store3.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store4.png" alt="">
                            </div>
                        </div>
                       </div>
                      </div>
                      <div class="carousel-item">
                       <div class="row">
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store1.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store2.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store3.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store4.png" alt="">
                            </div>
                        </div>
                       </div>
                      </div>
                      <div class="carousel-item">
                       <div class="row">
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store1.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store2.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store3.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="store-img">
                                <img src="assets/images/store4.png" alt="">
                            </div>
                        </div>
                       </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////// blog //////////////////////////////////-->


<section class="blog">
    <div class="container">
        <div class="row">
            <div class="blog-heading">
                <h4>Blog and News</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis sed sapien in pretium. Donec tincidunt, quam.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-content">
                    <div class="blog-img">
                        <img src="assets/images/blog1.png" alt="">
                    </div>
                    <div class="blog-box">
                        <p>A photographer shows the beauty transition</p>
                        <span>READ MORE <img src="assets/images/blogarrow.png" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-content">
                    <div class="blog-img">
                        <img src="assets/images/blog1.png" alt="">
                    </div>
                    <div class="blog-box">
                        <p>Natural look: The evolution of implants</p>
                        <span>READ MORE <img src="assets/images/blogarrow.png" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-content">
                    <div class="blog-img">
                        <img src="assets/images/blog1.png" alt="">
                    </div>
                    <div class="blog-box">
                        <p>Russian prosecutor seeks to Dolce and Gabbana</p>
                        <span>READ MORE <img src="assets/images/blogarrow.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

