<section class="services">
    <div class="container">
        <div class="row">
            <div class="service-heading">
                <h1>Special Service from Clor</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis sed sapien in pretium. Donec tincidunt, quam.</p>
            </div>
        </div>
                <div class="row g-2">
                    <ng-container>
                        <div class="col-4">
                            <div class="p-3 single-service">
                                <div class="ss-img">
                                    <img src="assets/images/second1.png" alt="">
                                </div>
                                <div class="ss-details">
                                    <h4>Face Scrub</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span>LEARN MORE <img src="assets/images/arrow.png" alt=""></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="p-3 single-service">
                                <div class="ss-img">
                                    <img src="assets/images/second1.png" alt="">
                                </div>
                                <div class="ss-details">
                                    <h4>Face Scrub</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span>LEARN MORE <img src="assets/images/arrow.png" alt=""></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="p-3 single-service">
                                <div class="ss-img">
                                    <img src="assets/images/second1.png" alt="">
                                </div>
                                <div class="ss-details">
                                    <h4>Face Scrub</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span>LEARN MORE <img src="assets/images/arrow.png" alt=""></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="p-3 single-service">
                                <div class="ss-img">
                                    <img src="assets/images/second1.png" alt="">
                                </div>
                                <div class="ss-details">
                                    <h4>Face Scrub</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span>LEARN MORE <img src="assets/images/arrow.png" alt=""></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="p-3 single-service">
                                <div class="ss-img">
                                    <img src="assets/images/second1.png" alt="">
                                </div>
                                <div class="ss-details">
                                    <h4>Face Scrub</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span>LEARN MORE <img src="assets/images/arrow.png" alt=""></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="p-3 single-service">
                                <div class="ss-img">
                                    <img src="assets/images/second1.png" alt="">
                                </div>
                                <div class="ss-details">
                                    <h4>Face Scrub</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span>LEARN MORE <img src="assets/images/arrow.png" alt=""></span>
                                </div>
                            </div>
                          </div>
                          
                    </ng-container>
                </div>
              </div>
</section>